.container {
  position: relative;
  canvas {
    height: 100%;
    width: 100%;
  }
  &.active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    border: 3.2px solid #3542ff;
    box-shadow: 0px 44px 120px rgba(53, 66, 255, 0.5);
  }
}
