.itemWrapper {
  padding: 100px 30px 150px 30px;
  transition: transform 0.3s;
  li {
    align-self: baseline;
  }
}

.sizeOne {
  transform: scaleY(95%) translateY(2%);
}

.sizeTwo {
  transform: scaleY(90%) translateY(3.5%);
}

.sizeThree {
  transform: scaleY(85%) translateY(5.4%);
}
