.container {
  background-color: var(--dark-2);
  padding: 50px 0px 140px 0px;
  text-align: center;
}

.subHeading {
  margin-top: 24px;
  margin-bottom: 24px;
}

.description {
  margin-top: 0;
}

.intro {
  padding: 0 20px;
}
