@import "./colors";
@import "./classes";
@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: black;
  @include hzn-scrollbar;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--light-1);
}
